<ion-header>
  <ion-toolbar>
    <ion-title>KIDS BED ROOM</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/home.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Control the whole house</ion-card-subtitle>
      <ion-card-title>HOUSE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Lights</ion-text>
      <ion-button color="danger">OFF</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
