ion-header{
  --ion-background-color:#3880ff;
  
}
ion-title{
  color: white;
}
.main_div{
  margin-bottom: 100px;
}
p{
  background: blue;
  color: white;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
}