<ion-header>
  <ion-toolbar>
    <ion-title>SMART HOUSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_div">
    <ion-card color="primary" routerLink="/todo-page">
        <ion-card-content>
        <ion-icon name="home-outline" slot="start" color="light"></ion-icon>
        <ion-label>GENERAL HOUSE</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="primary" routerLink="/parents">
        <ion-card-content>
        <ion-icon name="people-circle-outline" slot="start" color="light"></ion-icon>
        <ion-label>PARENTS BED ROOM</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="primary" routerLink="/kids">
      <ion-card-content>
        
        <ion-icon name="people-outline" slot="start" color="light"></ion-icon>
        <ion-label>KIDS BEDROOM</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="primary" routerLink="/seating">
      <ion-card-content>
        <ion-icon name="bed-outline" slot="start" color="light"></ion-icon>
        <ion-label>SEATING ROOM</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="primary" routerLink="/dinning">
      <ion-card-content>
        <ion-icon name="fast-food-outline" slot="start" color="light"></ion-icon>
        <ion-label>DINNING ROOM</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="primary" routerLink="/kitchen">
      <ion-card-content>
        
        <ion-icon name="beer-outline" slot="start" color="light"></ion-icon>
        <ion-label>KITCHEN</ion-label>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="primary" routerLink="/kitchen">
      <ion-card-content>
        
        <ion-icon name="beer-outline" slot="start" color="light"></ion-icon>
        <ion-label>BATHROOM</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary" routerLink="/home">
      <ion-card-content>
        
        <ion-icon name="bluetooth-outline" slot="start" color="light"></ion-icon>
        <ion-label>BLUETOOTH</ion-label>
      </ion-card-content>
    </ion-card>
    </div>
    
</ion-content>
